.rectangulo{
    position: absolute;
    width: 1440px;
    height: 76px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.input{
    position: absolute;
    width: 363px;
    height: 51.75px;
    left: 538px;
    top: 12px;
    background: c4c4c4;

}
