<nav class="">
    <li class="">
        <%= link_to 'Inicio', root_path  %>
    </li>
    
    <!-- Identificar si se ha iniciado sesion -->
    <% if user_signed_in? %>
        <li class="">
            <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
        </li>
    <% else %>
        <li class="">
            <%= link_to 'Iniciar sesion', new_user_session_path  %>
        </li>
        <li class="">
            <%= link_to 'Registrarse', new_user_registration_path  %>
        </li>
    <% end %>
</nav>